.CountrySelection {
  height: 100%;
}

.CountrySelection-container,
.CountrySelection-container li,
.country-container {
  display: flex;
}

.CountrySelection-container {
  flex-direction: column;
  gap: 5em;
  background: #f8f8f8;
  min-height: 100vh;
}

.CountrySelection-container .titles {
  font-size: min(8vw, 51px);
  text-align: center;
}

.country-container {
  flex-direction: column;
  text-align: center;
  gap: 2em;
  padding: 2em;
}

.country-container .continent {
  font-size: 51px;
}

.country-container ul {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 0.75rem;
  padding: 42px 79px;
  background: #ffffff;
  border-radius: 30px;
  width: 60%;
  align-self: center;
}

.country-container li {
  flex: 1 0 21%;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
}

.flag {
  width: 38px;
  height: 38px;
  min-width: 38px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .country-container ul {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}

@media screen and (max-width: 700px) {
  .country-container ul {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

@media screen and (max-width: 527px) {
  .country-container ul {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}
