.SplashPage {
  height: 100%;
  background-color: #f6f5ef;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: min(8vw, 2.44em);
  font-weight: 500;
  margin: auto;
}

.images-container {
  display: flex;
  justify-content: center;
  width: 80%;
  position: relative;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container img {
  width: 330px;
  padding: 80px 80px 144px 80px;
  z-index: 2;
  animation: imgFadeIn 2s;
}

.images-container::before {
  content: "";
  width: 100%;
  max-width: 489px;
  height: 100%;
  background: url(/src/assets/Vector.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  z-index: 1;
  animation: fadeIn 1.5s;
}

.probably-nothing {
  white-space: nowrap;
  max-width: fit-content;

  bottom: 1.5em;
  animation: imgFadeIn 2s;
}

.images-container > :is(span, div) {
  position: absolute;
  z-index: 3;
}

.capsule-left,
.capsule-top,
.capsule-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  padding: 10px 25px;
  position: absolute;
  font-size: min(8vw, 0.6em);
}

@keyframes imgFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Grid {
  display: grid;
  width: 30em;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.capsule-left {
  grid-column-start: 3;
  max-width: 215px;
  top: 15em;
  left: 2em;
}

.capsule-top {
  grid-column-start: 5;
  max-width: 289px;
  top: 6em;
  left: 2em;
}

.capsule-right {
  grid-column-start: 7;
  max-width: 195px;
  top: 17em;
  right: 10em;
}

@media screen and (max-width: 750px) {
  .Grid {
    width: 30em;
  }
  /* 
  .capsule-left {
    grid-column-start: 0;
    max-width: 215px;
    top: 15em;
    left: 0em;
  }

  .capsule-top {
    grid-column-start: 4;
    max-width: 289px;
    top: 6em;
    left: 0em;
  }

  .capsule-right {
    grid-column-start: 0;
    max-width: 195px;
    top: 17em;
    right: 0em;
  } */
}
