.App {
    height: 100%;
    background-color: #F6F5EF;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(173px - 8vw);
    height: 100%;
    font-size: min(8vw, 2.44em);
    font-weight: 500;
    margin: auto;
    padding-top: 101px;
}

.images-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url(./assets/Vector.svg) no-repeat center;
    background-size: contain;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container img {
    width: 256px;
    min-width: 153px;
    animation: imgFadeIn 2s;
}

@keyframes imgFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container p {
    overflow: hidden;
    white-space: nowrap;
    max-width: fit-content;
    animation: textFadeIn 3s;
}

@keyframes textFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 630px) {
    .container img {
        max-width: 50%;
    }
}